/* Titres */
.h1 { color: rgb(147, 144, 144); font-size: 50px; text-align: center; text-shadow: 2px 2px 2px rgb(0, 0, 0); }
.h2 { color: rgb(147, 144, 144); font-size: 50px; text-align: center; text-shadow: 2px 2px 2px rgb(0, 0, 0); position: relative; top: -25px; left: -5px; }
.h3 { color: rgb(147, 144, 144); text-align: center; position: relative; top: -35px; text-shadow: 2px 2px 2px rgb(0, 0, 0); }
.h4 { color: rgb(147, 144, 144); text-align: center; position: relative; top: -60px; left: -5px; text-shadow: 2px 2px 2px rgb(0, 0, 0); }

/* Paragraphes */
.p2 { color: rgb(147, 144, 144); font-size: 20px; position: relative; top:  -25px; text-shadow: 2px 2px 2px rgb(0, 0, 0); } 
.p3 { color: rgb(147, 144, 144); font-size: 25px; position: relative; top: 355px; left: 290px; text-shadow: 2px 2px 2px rgb(0, 0, 0); }
.p5 { color: rgb(147, 144, 144); font-size: 25px; position: relative; top: 355px; left: 310px; text-shadow: 2px 2px 2px rgb(0, 0, 0); }
.p11 { color: rgb(147, 144, 144); font-size: 25px; text-align: center; position: relative; top: -20px; text-shadow: 2px 2px 2px rgb(0, 0, 0); }
.p12 { color: rgb(147, 144, 144); font-size: 25px; text-align: center; position: relative; top: -25px; left: -340px; text-shadow: 2px 2px 2px rgb(0, 0, 0); }
.p123 { color: rgb(147, 144, 144); font-size: 25px; text-align: center; position: relative; top: -25px; left: -405px; text-shadow: 2px 2px 2px rgb(0, 0, 0); }
.p100 { color: rgb(147, 144, 144); font-size: 25px; text-align: center; position: relative; top: -80px; left: 355px; text-shadow: 2px 2px 2px rgb(0, 0, 0); }
.p101 { color: rgb(147, 144, 144); font-size: 25px; text-align: center; position: relative; top: 260px; left: -20px; text-shadow: 2px 2px 2px rgb(0, 0, 0); }
.p41 { color: rgb(147, 144, 144); font-size: 25px; position: relative; top: 355px; left: -280px; text-shadow: 2px 2px 2px rgb(0, 0, 0); }
.p42 { color: rgb(147, 144, 144); font-size: 20px; position: relative; top: -50px; left: 410px; text-shadow: 2px 2px 2px rgb(0, 0, 0); }
.p43 { color: rgb(147, 144, 144); font-size: 20px; position: relative; top: -25px; left: 178px; text-shadow: 2px 2px 2px rgb(0, 0, 0); }
.p44 { color: rgb(147, 144, 144); font-size: 20px; position: relative; top: 0px; left: -140px; text-shadow: 2px 2px 2px rgb(0, 0, 0); }
.p45 { color: rgb(147, 144, 144); font-size: 20px; position: relative; top: 200px; left: 410px; text-shadow: 2px 2px 2px rgb(0, 0, 0); }
.p46 { color: rgb(147, 144, 144); font-size: 20px; position: relative; top: 225px; left: 175px; text-shadow: 2px 2px 2px rgb(0, 0, 0); }
.p47 { color: rgb(147, 144, 144); font-size: 20px; position: relative; top: 250px; left: -145px; text-shadow: 2px 2px 2px rgb(0, 0, 0); }

/* Effet de survol pour les images et videos */
img, .vid1, .vid2, .vid3, .vid4 {
    transition: transform 0.3s ease-in-out;
}

/* Effet de selection */
::-moz-selection{
  background-color : #ffffff88;
  color : #ffffff7e
}
::selection{
  background-color : #ffffff80;
  color : #ffffff79
}

img:hover, .vid1:hover, .vid2:hover, .vid3:hover, .vid4:hover {
    transform: scale(1.015); /* Augmente la taille de 1,5% */
}

/* Styles des videos */
.vid1, .vid2, .vid3, .vid4 {
    border: 2px solid rgb(147, 144, 144);
    border-radius: 20px;
    box-shadow: 0 8px 16px 0;
}

/* Styles des images */
.img11, .img12, .img13, .img2, .img31, .img32, .img33, .img4, .img5, 
.img50, .img51, .img52, .img53, .img54, .img55, .img56, .img57 {
    border: 2px solid rgb(147, 144, 144);
    border-radius: 20px;
    box-shadow: 0 8px 16px 0;
}

/* Positions des images */
.img11 { width: 455px; position: absolute; left: 10px; top: 220px; }
.img12 { width: 455px; position: absolute; left: 10px; top: 190px; }
.img13 { width: 520px; position: absolute; left: 730px; top: 190px; }
.img2 { width: 360px; position: absolute; left: 420px; top: 600px; }
.img31 { width: 390px; position: absolute; left: 10px; top: 600px; }
.img32 { width: 400px; position: absolute; left: 10px; top: 200px; }
.img33 { width: 400px; height: 300px; position: absolute; left: 10px; top: 500px; }
.img4 { width: 425px; height: 270px; position: absolute; left: 800px; top: 600px; }
.img5 { width: 530px; position: absolute; left: 695px; top: 220px; }
.img50 { width: 150px; position: absolute; left: 420px; top: 290px; }
.img51 { width: 150px; position: absolute; left: 581px; top: 290px; }
.img52 { width: 150px; position: absolute; left: 420px; top: 390px; }
.img53 { width: 150px; position: absolute; left: 581px; top: 390px; }
.img54 { width: 120px; position: absolute; left: 430px; top: 600px; }
.img55 { width: 130px; position: absolute; left: 430px; top: 700px; }
.img56 { width: 150px; position: absolute; left: 581px; top: 700px; }
.img57 { width: 150px; position: absolute; left: 581px; top: 600px; }
.img1000 { width: 100px; position: absolute; left: 1125px; top: 20px; animation: rotation 5s linear infinite; border: 2px solid rgb(147, 144, 144); border-radius: 20px; box-shadow: 0 8px 16px 0; }
.img1001 { width: 100px; position: absolute; left: 20px; top: 20px; animation: rotation 5s linear infinite; border: 2px solid rgb(147, 144, 144); border-radius: 20px; box-shadow: 0 8px 16px 0; }


/* Styles des videos */
.vid1 { position: absolute; left: 340px; top: 590px; }
.vid2 { position: absolute; left: 10px; top: 590px; }
.vid3 { position: absolute; left: 340px; top: 915px; }
.vid4 { position: absolute; left: 914px; top: 590px; }

/* Style du fond */
body { background-color: rgb(136, 37, 37); }

/* Effet de rotation*/
@keyframes rotation {
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(0deg);
    }
  }